.header-section{
    @apply title-public title-public-dark leading-none mb-5 text-start
}
.header-section b{
    @apply title-public-semibold mb-0.5 block
}


.title-animated {
    position: relative;
    z-index: 10;
    max-width: 100% !important;
    width: fit-content;
}
.title-animated:before {
    @apply content-[""] absolute top-0 start-0 bg-primary h-full -z-10;
    animation: titleAnimate 4s infinite linear;
}
@keyframes titleAnimate {
    0% {
        width: 0;
        opacity: 0;

    }
    50% {
        width: 100%;
        opacity: 1;
    }
    100% {
        width: 0;
        opacity: 0;

    }
}